.todo-list-app {
  max-width: 420px;
  margin: 0 auto;
  padding: 40px 15px;
}
.form-wrapper {
  display: flex;
}
.form-wrapper input {
  min-width: 1px;
  flex: 1 1 80%;
}
.form-wrapper button {
  flex: 1 1 20%;
}
li {
  clear: both;
}
.todo-actions,
.list-filters {
  float: right;
  clear: both;
}